.icon-48-maps {
      background-image: url(../images/l_maps.png);
      padding-left:60px!important;
}

.icon-48-map {
      background-image: url(../images/l_maps.png);
      padding-left:60px!important;
}

.icon-48-mainsettings {
      background-image: url(../images/l_mainsettings.png);
      padding-left:60px!important;
}

.icon-48-mainsetting {
      background-image: url(../images/l_mainsettings.png);
      padding-left:60px!important;
}

.icon-48-statespecifics {
      background-image: url(../images/l_statespecifics.png);
      padding-left:60px!important;
}

.icon-48-statespecific {
      background-image: url(../images/l_statespecifics.png);
      padding-left:60px!important;
}

.icon-48-locations {
      background-image: url(../images/l_locations.png);
      padding-left:60px!important;
}

.icon-48-location {
      background-image: url(../images/l_locations.png);
      padding-left:60px!important;
}

